{% extends "layouts/base.html" %}
{% block content %}

    <!-- This is a create a game screen, where the user can create a game. Includes an input for board size -->
    <div class="container">

        <h1>Create a Game</h1>
        <form action="{{ url_for('game.create_game') }}" method="post">
            <div class="form-group">
                <label for="board_size">Board Size</label>
                <select class="form-control" id="board_size" name="board_size">
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                </select>

                <label for="amount_time">Amount of Time</label>
                <input class="form-control" id="amount_time" type="number" name="amount_time"
                       placeholder="Enter amount of time">

                <label for="lang">Language</label>
                <select class="form-control" id="lang" name="lang">
                    <option value="en">English</option>
                    <option value="nl">Dutch</option>
                </select>


            </div>

            <button type="submit" class="btn btn-primary mt-1">Create Game</button>
        </form>
    </div>


{% endblock %}
