{% extends "layouts/base.html" %}
{% block content %}

    <!-- align test1 and test2 side by side -->
    <style>
        .grid-container {
            --board-size: {{ board_size }};
        }
    </style>

    <!-- create a timer -->
    <div class="d-flex justify-content-center align-items-center gap-1">
        <p class="mr-2">Time Left:</p>
        <p id="remaining-time"> {{ formatted_time }}</p>
    </div>

    <p class="d-flex justify-content-center align-items-center gap-1">
        board language: {{ '🇬🇧' if lang == 'en' else '🇳🇱' }}
    </p>

    <div class="custom-container">
        <div class="test1">
            <div>
                <h5 class="text-center">Current Word: {{ current_word }}</h5>
            </div>

            <form action="/boggle/{{ game.id }}" method="post" class="m-2">
                <div class="grid-container" style="grid-template-columns: repeat({{ board_size }}, 1fr);">
                    {% for _, die in dice %}
                        {% if previous_letters %}
                            <input hidden name="previous_letters" value="{{ previous_letters }}">
                        {% endif %}

                        {% set position_index = loop.index0 %}
                        {% set last_selected_position = selected_positions[-1] if selected_positions else None %}

                        <!-- if the current loop position index is the last selected position, color it darker -->
                        {% if position_index == last_selected_position %}
                            <button type="submit" name="position" value="{{ position_index }}"
                                    class="grid-item border border-dark rounded-10 btn btn-secondary"
                                    style="font-size: {{ font_size }}rem; background-color: green;">
                                {{ die }}
                            </button>
                        {% elif position_index in selected_positions %}
                            <!-- if the current loop position index is in the list of selected indexes, color it green -->
                            <button type="submit" name="position" value="{{ position_index }}"
                                    class="grid-item border border-dark rounded-10 btn btn-secondary"
                                    style="font-size: {{ font_size }}rem; background-color: darkslategray;">
                                {{ die }}
                            </button>
                        {% else %}
                            <button type="submit" name="position" value="{{ position_index }}"
                                    class="grid-item border border-dark rounded-10 btn btn-secondary"
                                    style="font-size: {{ font_size }}rem;">
                                {{ die }}
                            </button>
                        {% endif %}
                    {% endfor %}
                </div>
            </form>
        </div>


        <div class="text-center mt-3 test2">
            <h5>Guessed Words:</h5>
            <div class="list-container">
                <ul class="list-group">
                    {% for guess in guessed_words %}
                        {% if guess.score is defined and guess.score is not none and guess.score > -1 %}
                            <li class="list-group-item">{{ guess.word }} | {{ guess.score }} <i
                                    class="bi bi-check2 text-success"></i></li>
                        {% else %}
                            <li class="list-group-item">{{ guess.word }} | {{ guess.score }} <i
                                    class="bi bi-x text-danger"></i></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <div class="text-center mt-3 d-flex justify-content-center gap-2">
        <form action="/boggle/{{ game.id }}/reset" method="post">
            <button type="submit" class="btn btn-secondary">Reset current selected letters</button>
        </form>
        <form action="/boggle/{{ game.id }}/submit" method="post">
            <input hidden name="word" value="{{ current_word }}">
            <button type="submit" class="btn btn-primary mr-2">Submit word</button>
        </form>
        <!-- button to end the game and show all available words -->
        <form action="/boggle/{{ game.id }}/end" method="post">
            <button type="submit" class="btn btn-danger">End game and show all words</button>
        </form>
    </div>

    <script>
        // Set the countdown time in seconds
        var countdownTime = {{ amount_time }};

        // Get the timer element
        var timerElement = document.getElementById('remaining-time');

        // Function to format time as minutes and seconds
        function formatTime(time) {
            var minutes = Math.floor(time / 60);
            var seconds = time % 60;

            // Add leading zeros to single-digit minutes and seconds
            minutes = minutes < 10 ? '0' + minutes : minutes;
            seconds = seconds < 10 ? '0' + seconds : seconds;

            return minutes + ':' + seconds;
        }

        // Function to update the timer display
        function updateTimer() {
            var formattedTime = formatTime(countdownTime);
            timerElement.innerText = formattedTime;
            countdownTime--;

            // Stop the timer when it reaches 0
            if (countdownTime < 0) {
                clearInterval(timerInterval);
                timerElement.innerText = "Time's up!";
            }
        }

        // Update the timer every second
        var timerInterval = setInterval(updateTimer, 1000);
    </script>

{% endblock %}
